@import url("./assets/fonts/fonts.css");

body {
  margin: 0;
  padding: 0;
  max-width: 1020px;
  font-family: "Lato", Arial, sans-serif;
}

.bg-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f06c64;
}

.header-wrapper {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 89px;
  color: white;
  text-transform: uppercase;
  max-width: 1020px;
  margin: 0 auto;
}

h1,
h3,
h5 {
  margin: 0;
}

.asterisk {
  color: #f06c64;
}

.logo {
  display: inline-block;
  margin-top: 24px;
  margin-left: 38px;
}

.logo span {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.navbar {
  display: inline-block;
  margin-top: 31px;
  margin-right: 40px;
}

.navbar ul {
  display: flex;
  width: 371px;
  justify-content: space-between;
}

.navbar ul li {
  font-size: 10px;
  font-weight: 700;
  line-height: 6.32px;
  text-align: center;
  color: #494e62;
}

.navbar ul li:first-child {
  list-style-type: none;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 6.32px;
  font-weight: 700;
}

.navbar ul li a:hover {
  color: #f06c64;
}

.services {
  letter-spacing: -0.1em;
}

.portfolio {
  letter-spacing: -0.07em;
}

.about,
.contact {
  letter-spacing: -0.05em;
}

.slider-wrapper {
  height: 594px;
  background-color: #f06c64;
  border-bottom: 15px solid #ea676b;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.slider {
  position: relative;
}

.slider-obj {
  position: absolute;
  top: 281px;
  cursor: pointer;
}

.right {
  right: 40px;
}

.left {
  left: 42px;
}

.vertical-iphone {
  position: absolute;
  top: 37px;
  left: 72px;
}

.horizontal-iphone {
  position: absolute;
  top: 157px;
  right: 71px;
}

.services-wrapper {
  height: 496px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  color: #666d89;
}

.services-wrapper .container {
  box-sizing: border-box;
  width: 1020px;
  padding: 77px 40px 0 50px;
}

section h3 {
  font-size: 30px;
  line-height: 17.86px;
  line-height: 6.32px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

section p {
  color: #767e9e;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding-top: 13px;
  text-align: justify;
  letter-spacing: -0.02em;
}

.row {
  display: flex;
  padding-top: 26px;
}

.pen,
.bulb,
.heart,
.phone,
.bubble,
.star {
  display: flex;
}

.pen,
.phone {
  padding-right: 17px;
}

.bulb,
.bubble {
  padding-right: 20px;
}

.row div p {
  width: 220px;
  max-height: 54px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

div h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.service-description {
  margin-left: 21px;
}
